@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Dark mode styles */

body {
  color: #ffff;
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;

  transition: 0.4s;
  font-style: normal;
}
.header {
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
}

.header .nav-items li > a {
  color: #ffffff;
}

.button-6 {
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: rgba(0, 0, 0, 0.85);
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(255, 255, 255, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.header .nav-items li > a {
  color: #ffff;
}

.dark-light-toggle {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-light-toggle label {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 100px;
  background-color: #000839;
  overflow: hidden;
  cursor: pointer;
}
.dark-light-toggle label:before,
.dark-light-toggle label:after {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 8px;
  left: 10px;
  transition: 0.5s ease;
}
.dark-light-toggle label:before {
  background-color: #ffa41b;
}
.dark-light-toggle label:after {
  background-color: #000839;
  left: -20px;
  transform: scale(0.00001);
}

.dark-light-toggle input[type="checkbox"] {
  display: none;
}
.dark-light-toggle input[type="checkbox"]:checked + label {
  width: 50px;
  height: 30px;
}
.dark-light-toggle input[type="checkbox"]:checked + label:before {
  background-color: #fff;
  transform: translateX(20px);
}
.dark-light-toggle input[type="checkbox"]:checked + label:after {
  transform: translateX(40px) scale(1);
}

.header .nav-items li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.btn {
  background-color: #161616;
  color: #b7b7b7;
}

.btn:hover {
  z-index: 10;
  border-color: #888888;
  background: #121212;
}

.visually-hidden:focus + .btn,
.btn:hover {
  z-index: 10;
  border-color: #888888;
  background: #121212;
}

.visually-hidden:checked + .btn {
  font-weight: bold;
  color: white;
  background: #000042;
}

.visually-hidden:disabled + .btn {
  color: #121212;
}

fieldset {
  background-color: #222222;
}

select {
  background-color: #121212;
  color: white;
}

a.links-lighten {
  color: #7a9cff;
}

a.links-lighten:hover {
  color: #c2d0ff;
}

a.links-lighten:visited {
  color: #bc8bea;
}

a.links-lighten:visited:hover {
  color: #dacaf7;
}

input {
  background-color: #121212;
  color: white;
}

textarea {
  background-color: #121212;
  color: white;
}

.wrapper {
  background-color: #121212;
  color: white;
}

a.collapsible-link {
  color: white;
}

.bs-btn {
  background-color: #161616;
  color: #b7b7b7;
}

.bs-btn:hover {
  z-index: 10;
  border-color: #888888;
  background: #121212;
}

.popover-content {
  background-color: #161616;
  color: #b7b7b7;
}

.dataTables_info {
  color: #b7b7b7 !important; /* I know, don't use !important, but w/e */
}

.search-label {
  color: #b7b7b7;
}

tr.odd,
tr.even {
  background-color: rgb(0 0 0) !important;
}

td.sorting_1 {
  background-color: rgb(25 25 25) !important;
}

label:not(.btn) {
  color: white;
}

input.select2-input {
  color: #121212;
}
