@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Dark mode styles */

body {
  color: #ffff;
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;

  transition: 0.4s;
  font-style: normal;
}
.header {
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
}

.header .nav-items li > a {
  color: #ffffff;
}

.button-6 {
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: rgba(0, 0, 0, 0.85);
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(255, 255, 255, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.header .nav-items li > a {
  color: #ffff;
}

.header .nav-items li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.btn {
  align-items: center;
  appearance: none;
  background-color: rgb(78, 80, 95);
  border: none;
  border-radius: 0.2em;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(166, 173, 187);
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  /* z-index: 10;
  border-color: #888888; */
  background: rgb(20, 25, 30);
}

.visually-hidden:focus + .btn,
.btn:hover {
  background: rgb(20, 25, 30);
}

.visually-hidden:checked + .btn {
  /* font-weight: bold; */
  color: #121212;
  background: #ffffff;
}
.visually-hidden[type="radio"]:checked + .btn {
  border-color: #121212;
  outline: 0;
  background-color: #f1f1f1;
}

.visually-hidden:disabled + .btn {
  color: #121212;
}

.btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-mid {
  border-radius: 0;
}

fieldset {
  background-color: #222222;
}

select {
  background-color: #121212;
  color: white;
}

a.links-lighten {
  color: #7a9cff;
}

a.links-lighten:hover {
  color: #c2d0ff;
}

a.links-lighten:visited {
  color: #bc8bea;
}

a.links-lighten:visited:hover {
  color: #dacaf7;
}

input {
  background-color: #121212;
  color: white;
}

textarea {
  background-color: #121212;
  color: white;
}

.wrapper {
  /* background-color: #121212; */
  color: white;
}

a.collapsible-link {
  color: white;
}

.bs-btn {
  background-color: #161616;
  color: #b7b7b7;
}

.bs-btn:hover {
  z-index: 10;
  border-color: #888888;
  background: #121212;
}

.popover-content {
  background-color: #161616;
  color: #b7b7b7;
}

.dataTables_info {
  color: #b7b7b7 !important; /* I know, don't use !important, but w/e */
}

.search-label {
  color: #b7b7b7;
}

tr.odd,
tr.even {
  background-color: rgb(0 0 0) !important;
}

td.sorting_1 {
  background-color: rgb(25 25 25) !important;
}

label:not(.btn) {
  color: white;
}

input.select2-input {
  color: #121212;
}
.info-selectors select,
.move-type {
  color: rgb(18, 18, 18);
}

.info-selectors select,
.info-group select {
  color: #000;
}
select.move-cat,
.credits ul li a {
  color: white;
}
input {
  border: 1px solid rgb(0, 0, 0);
}
.trainer-poks {
  border-top: 2px solid rgb(128, 128, 128);
  border-bottom: 2px solid rgb(128, 128, 128);
}
.poke-import.active {
  background-color: rgb(34, 34, 34);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.poke-import.active #import-1_wrapper {
  display: block;
}
